{% extends "network/layout.html" %}

{% block body %}
  <div class="card text-center mb-3">
    <div class="card-header">
      All Posts
    </div>
  </div>

  <div class="" style="height: 79vh; overflow-y: auto;">
  
    <!-- New Post Card -->
    {% if user.is_authenticated %}
      <div class="container card d-flex mb-3 col-7">
        <div class="card-header text-center">
          New Post
        </div>
        <div id="newPostId" class="card-body">
          <form class="form-group" action="{% url 'index' %}" method="post">
            {% csrf_token %}
            {{ form.content }}
            <!-- Alternative way to create desired textarea via HTML directly instead of the above prefered form.content -->
            <!-- if block, as the value,should be employed without any extra character to maintian placeholder's effect -->
                <!-- <textarea  -->
                <!-- class="form-control mb-1"  -->
                <!-- id="{{ form.content.id_for_label }}"  -->
                <!-- name="{{ form.content.html_name }}"  -->
                <!-- placeholder="Write your thoughts here!">{% if form.content.value %}{{ form.content.value }}{% endif %}</textarea> -->
            <!-- Alternative way to create desired textarea via HTML directly's End -->
            <button type="submit" class="btn btn-primary" id="submitPost">Post</button>
          </form>
        </div>
      </div>
    {% endif %}
    <!-- New Post Card's End -->

  
    <!-- Existing Posts -->
    <div class="container card mb-3">
      <div class="card-body">
  
        {% for post in page_obj %}
          <div class="card d-flex mb-3">
            <div class="card-body">
              <a href="{% url 'profile' user=post.author %}" class="text-decoration-none link-success">{{ post.author }}</a><br>
              {% if user.is_authenticated and user.username == post.author.username %}
                <div id="postButtons_{{ post.id }}" class="btn-group" role="group" aria-label="Basic example">
                  <button id="editButtonPost_{{ post.id }}" class="card-link">Edit</button>
                </div>
              {% endif %}
              <p id="postContentParagraph_{{ post.id }}" class="mt-2 mb-2">{{ post.content }}</p>
              <span class="" style="color: #818a91;">
                {{ post.creation_date|date:"D, d M Y H:i:s" }}
              </span><br>
              {% if user in post.likes.all %}
                <span id="likeIconForPost_{{ post.id }}" class="" style="color: red; font-size: 2rem; text-decoration: none; cursor: pointer;">♥</span>
              {% else %}
                <span id="likeIconForPost_{{ post.id }}" class="" style="color: #818a91; font-size: 2rem; text-decoration: none; cursor: pointer;">♥</span>
              {% endif %}
              <span id="likeCountForPost_{{ post.id }}">{{ post.like_count }}</span>
            </div>
          </div>
        {% empty %}
            <h5 class="text-center">No posts yet!<br>Be the first that starts the conversation.</h5>
        {% endfor %}

      </div>
    </div>
    <!-- Existing Posts' End -->
  
    <!-- Pages Navigation by Pagination -->
    <div class="card-footer text-body-secondary fixed-bottom text-center">
      Pages
      <!-- Pagination from: https://getbootstrap.com/docs/5.3/components/pagination -->
      <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center">
          {% if page_obj.number > 2 %}
            <li class="page-item">
              <a class="page-link" href="{% url 'index' %}">&laquo; First</a>
            </li>
          {% else %}
            <li class="page-item disabled">
              <a class="page-link" href="{% url 'index' %}">&laquo; First</a>
            </li>
          {% endif %}
          {% if page_obj.has_previous %}
            <li class="page-item">
              <a class="page-link" href="{% url 'index' %}?page={{ page_obj.previous_page_number }}">&lsaquo; Previous</a>
            </li>
          {% endif %}
          <li class="page-item active" aria-current="page">
            <span class="page-link">{{ page_obj.number }} of {{ page_obj.paginator.num_pages }}</span>
          </li>
          {% if page_obj.has_next %}
            <li class="page-item">
              <a class="page-link" href="{% url 'index' %}?page={{ page_obj.next_page_number }}">Next &rsaquo;</a>
            </li>
          {% endif %}
          {% if page_obj.number > num_pages_minus_two %}
            <li class="page-item disabled">
              <a class="page-link" href="{% url 'index' %}?page={{ page_obj.paginator.num_pages }}">Last &raquo;</a>
            </li>
          {% else %}
            <li class="page-item">
              <a class="page-link" href="{% url 'index' %}?page={{ page_obj.paginator.num_pages }}">Last &raquo;</a>
            </li>
          {% endif %}
        </ul>
      </nav>
    </div>
    <!-- Pages Navigation by Pagination's End -->
  </div>

{% endblock %}
