{% extends "network/layout.html" %}
{% load static %}

{% block body %}
    TODO
    <br><br><br><br><br>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. <br><br><br><br><br><br>
    Sed corrupti eligendi repellendus nobis ipsa error impedit, distinctio velit. <br><br><br><br><br>Odio harum numquam quam ducimus, ea doloribus fugiat ex deleniti vitae? Necessitatibus?<br><br><br><br><br><br>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Beatae, reprehenderit minima non qui nulla adipisci nostrum voluptas voluptates. Vero perferendis aperiam quis! Cum, cupiditate itaque optio velit asperiores unde veniam?
    <br><br><br><br><br><br>
    Lorem ipsum, dolor sit amet consectetur adipisicing elit.
     In a odit ducimus amet quos, officia molestiae sit veniam voluptatum temporibus, obcaecati accusamus facilis fugiat, ad corrupti dignissimos aliquid provident repudiandae!
    <br><br><br><br><br><br>
    Lorem ipsum dolor sit amet consectetur, adipisicing elit.
     Hic cupiditate et deleniti tempora explicabo. Dicta error maiores ea provident quisquam ipsa voluptate nulla, obcaecati quibusdam facilis dolore exercitationem?
      Iste, assumenda.
{% endblock %}

{% block script %}
    <script src="{% static 'network/inbox.js' %}"></script>
{% endblock %}