{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">
    <title>{% block title %}Poster{% endblock %}</title>
    <link href="{% static 'network/styles.css' %}" rel="stylesheet">
    <link rel="icon" type="image/png" href="{% static 'network/src/favicon.png' %}" /> <!-- Icon source: https://www.iconarchive.com -->

    <!-- Bootstrap CSS and JS CDN references-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
  </head>
  <body>

    <nav class="navbar navbar-expand-lg navbar-light bg-light justify-content-center">
      <a class="navbar-brand" href="#">Network</a>
    
      <div>
        <ul class="navbar-nav mr-auto nav-underline">
          {% if user.is_authenticated %}
              <li class="nav-item" id="itemUser">
                  <a class="nav-link" href="{% url 'profile' theuser=user.username %}"><strong>{{ user.username }}</strong></a>
              </li>
          {% endif %}
          <li class="nav-item" id="itemAllPosts">
            <a class="nav-link" href="{% url 'index' %}">All Posts</a>
          </li>
          {% if user.is_authenticated %}
              <li class="nav-item" id="itemFollowing">
                  <a class="nav-link" href="{% url 'following' %}">Following</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="{% url 'logout' %}">Log Out</a>
              </li>
          {% else %}
              <li class="nav-item">
                  <a class="nav-link" href="{% url 'login' %}">Log In</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="{% url 'register' %}">Register</a>
              </li>
          {% endif %}
        </ul>
      </div>
    </nav>
      
    {% block body %}
    {% endblock %}

    <!-- Pages Navigation by Pagination -->
    <div class="card-footer text-body-secondary fixed-bottom text-center">
      Pages
      <!-- Pagination from: https://getbootstrap.com/docs/5.3/components/pagination -->
      <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center">
          {% if page_obj.number > 2 %}
            <li class="page-item">
              <a class="page-link" href="{% url 'index' %}">&laquo; First</a>
            </li>
          {% else %}
            <li class="page-item disabled">
              <a class="page-link" href="{% url 'index' %}">&laquo; First</a>
            </li>
          {% endif %}
          {% if page_obj.has_previous %}
            <li class="page-item">
              <a class="page-link" href="{% url 'index' %}?page={{ page_obj.previous_page_number }}">&lsaquo; Previous</a>
            </li>
          {% endif %}
          <li class="page-item active" aria-current="page">
            <span class="page-link">{{ page_obj.number }} of {{ page_obj.paginator.num_pages }}</span>
          </li>
          {% if page_obj.has_next %}
            <li class="page-item">
              <a class="page-link" href="{% url 'index' %}?page={{ page_obj.next_page_number }}">Next &rsaquo;</a>
            </li>
          {% endif %}
          {% if page_obj.number > num_pages_minus_two %}
            <li class="page-item disabled">
              <a class="page-link" href="{% url 'index' %}?page={{ page_obj.paginator.num_pages }}">Last &raquo;</a>
            </li>
          {% else %}
            <li class="page-item">
              <a class="page-link" href="{% url 'index' %}?page={{ page_obj.paginator.num_pages }}">Last &raquo;</a>
            </li>
          {% endif %}
        </ul>
      </nav>
    </div>
    <!-- Pages Navigation by Pagination's End -->

    <script src="{% static 'network/index.js' %}"></script>
    <script>
      var isAuthenticated = {{ user.is_authenticated|lower }};
      const csrfToken = '{{ csrf_token }}';
    </script>
      

  </body>
</html>